/**************** common css start ****************/
body{
    /*background-color: #37517e;*/
    background-color: rgb(0, 196, 204);

}

#home-container{
}

     #home-header{
        height: 4%;
        display: flex;  
        flex-direction: row;
        justify-content: space-between;
        margin: 1%;
        padding: 1% 2% 1%  5%;
     }

               #home-header span{
                  font-size: 210%;
                  font-weight: bold;
                  color: #f7f7f7;
                  letter-spacing: 2px;
               }



     #home-body{
        min-height: 70vh;
        background-color: rgba(250, 250, 250, 0.03);
        padding: 1%;
        margin: 1%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     }

           #search-results{
            padding: 1%;  
            margin: 1%;
            width: 100%;
            background-color: #f7f7f7;
            border-radius: 10px;        

          }

          #search-results > div{
            margin: 1%;
            padding: 1%;
            width: 50%;
            box-shadow: 1px 1px 1px 1px rgba(57,73,76,.35);     
            border-radius: 10px;        
            background-color: #fff;

          }

           #search-results > div > div{
             display: flex;
             flex-direction: row;
             justify-content: space-between;
             padding: 0px;
             margin: 0px;
          }
       
         span{
            padding: 1%;
            margin: 1%;
         }

        form {
           height: fit-content;
           width: 95%;
           align-items: center;
           border-radius: 10px;        
           /*background-color: #f7f7f7;
             box-shadow: 3px 3px 3px 3px rgba(57,73,76,.35);     
           */
           padding: 1%;
           margin: 1%;
         }

           #search-bar{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
           }

  #home-footer{
    height: 1%;
  }
  

@media only screen and (max-width: 800px){
    #home-header{
    }

   #home-body{
    flex-direction: column;
    padding-bottom: 20%;
    min-height: 80vh;
   }

   #search-results > div{
    width: 100%;
   }
}